<div id='footer'>
    <hr id='separate'>
    <ul id='footerNav'>
        <li><a href='{{ site.baseurl }}/index.html'>Home</a></li>
        <li><a href='{{ site.baseurl }}/about'>About</a></li>
        <li><a href='{{ site.baseurl }}/news'>News</a></li>
        <li><a href='{{ site.baseurl }}/documentation'>Documentation</a></li>
        <li><a href='{{ site.baseurl }}/downloads'>Downloads</a></li>
        <li><a href='https://github.com/kdahlquist/GRNmap/wiki' target="_blank">Wiki</a></li>
        <li><a href='https://github.com/kdahlquist/GRNmap/' target="_blank">Developers</a></li>
        <li><a href='{{ site.baseurl }}/publications'>Publications</a></li>
        <li><a href='{{ site.baseurl }}/people'>People</a></li>
        <li><a href='{{ site.baseurl }}/contact'>Contact</a></li>
        <li><a href='{{ site.baseurl }}/links'>Links</a></li>
        <li><a href='{{ site.baseurl }}/about/#privacy'>Privacy</a></li>
    </ul>
    <p id='CCLicense'>
        This web site is free and open to all users and there is no login requirement.
        <br>
        Web site content is available under the <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' target='_blank'>Creative Commons Attribution Non-Commercial Share Alike 3.0 Unported License</a>. GRNmap code is available under the open source <a href='http://opensource.org/licenses/BSD-3-Clause' target='_blank'>BSD license</a>.
        <br>
        This page has been accessed <span class="ga-report"></span> times.
        <br>
        Executables have been downloaded <span class="executable-total"></span> times.
        <br>
        Source code archives have been downloaded <span class="source-total"></span> times.
    </p>
</div>
