<div id='header'>
    <div id='logo'>
        <!--a href="http://dondi.github.io/GRNsight"><img id='GRNsightLogo' src='images/GRNsight_logo_20140710_main_resized.jpg' alt='GRNsight' width='200' height='118'--></a></div>
    <div id='lmu'>
        <a href="http://www.lmu.edu" target='_blank'><img src='{{ site.baseurl }}/assets/img/LMULogoHQ2.png' alt='LMU logo' width='200' height='118' id='lmuLogo' /></a><br /><br /><br />
        <p id='subtextLMU'>A Project of the<br />LMU Biomathematics Group</p>
    </div>
    <p id='title'><a href="{{ site.baseurl }}/index.html">GRNmap</a></p>
    <p id='subtext'>Gene Regulatory Network modeling and parameter estimation.</p>
</div>