<!doctype html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        {% include navbar.html %}
        <div id='mainContent'>
            <p id='pageTitle'>{{ page.subTitle }}</p>
            <div id='pageContent'>
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
        <script src="{{ site.baseurl }}/assets/js/ga-report.js"></script>
        <script src="{{ site.baseurl }}/assets/js/ga-download-report.js"></script>
    </body>
</html>
